Question #1:
How many tennis players are included in dataset?
Answer: Creating CSV file from Dataset.

In [75]:
import pandas as pd
from glob import glob
import pyarrow.parquet as pq
import os
import re

####### PLEASE Make sure to read the comment lines for importing the required data from the dataset!
# !!!!!!!!!!  (READ COMMENT LINES)


# #### Reading required data from Dataset and saving into a csv file.
# file_paths=[]
# required_dates_initial=pd.date_range('2024-02-01','2024-03-31')
# required_dates = required_dates_initial.strftime('%Y%m%d').tolist()

# pattern = re.compile(r"home_team_\d+\.parquet")
# file_paths = []

# for date in required_dates:
#     all_files = glob(f'./Data/{date}/data/raw/raw_match_parquet/*.parquet')
#     matched_files = [f for f in all_files if pattern.search(f)]
#     file_paths.extend(matched_files)

# Home_team_df =pd.concat([pd.read_parquet(f,columns=['match_id','full_name','height']) for f in file_paths ],ignore_index=True)

# pattern = re.compile(r"away_team_\d+\.parquet")
# file_paths = []

# for date in required_dates:
#     all_files = glob(f'./Data/{date}/data/raw/raw_match_parquet/*.parquet')
#     matched_files = [f for f in all_files if pattern.search(f)]
#     file_paths.extend(matched_files)

# away_team_df =pd.concat([pd.read_parquet(f,columns=['match_id','full_name','height']) for f in file_paths ],ignore_index=True)

# All_players=pd.concat([Home_team_df,away_team_df])
# All_players.to_csv('./home_away_players.csv',index=False)

All_players=pd.read_csv('home_away_players-Q1-2.csv')
display(All_players.drop_duplicates().head())
Number_of_Players=pd.concat([All_players['Full_name_Home'],All_players['Full_name_Away']])
Number_of_Players=len(Number_of_Players.dropna().unique())
# Number_of_Players=len(All_players['full_name'].unique())
print(f'The number of players is: {Number_of_Players}')

,match_id,Full_name_Home,Height_Home,Full_name_Away,Height_Away
0,11998445,"Cazaux, Arthur",1.83,"Auger-Aliassime, Felix",1.93
4,11998446,"Lestienne, Constant",1.80,Flavio Cobolli,1.83
8,11998447,"Ćorić, Borna",1.88,"Martinez, Pedro",1.85
12,11998448,"Mmoh, Michael",1.88,"Muller, Alexandre",1.83
13,11998449,"Paire, Benoit",1.96,"Mayot, Harold",1.78

The number of players is: 2651

Question #2: what is the average height of the players?

In [76]:

All_players.drop_duplicates(inplace=True)
All_players

home = All_players[['Full_name_Home', 'Height_Home']].rename(columns={'Full_name_Home': 'Full_name', 'Height_Home': 'Height'})
away = All_players[['Full_name_Away', 'Height_Away']].rename(columns={'Full_name_Away': 'Full_name', 'Height_Away': 'Height'})

# Concatenate vertically
Height_All_players = pd.concat([home, away], ignore_index=True)
display(Height_All_players.dropna())
All_players_height_Ave=Height_All_players['Height'].dropna().mean()
print(f'The Average height of the players is: ' + str(round(All_players_height_Ave,2)) + ' cm')

                    Full_name  Height
0              Cazaux, Arthur    1.83
1         Lestienne, Constant    1.80
2                Ćorić, Borna    1.88
3               Mmoh, Michael    1.88
4               Paire, Benoit    1.96
...                       ...     ...
28518       Simonit, Ezequiel    1.75
28519          Doria, Luciano    1.80
28520  Soriano Barrera, Adria    1.91
28522        Taberner, Carlos    1.83
28523         Simonsson, Fred    1.88

[13494 rows x 2 columns]

The Average height of the players is: 1.82 cm

In [ ]:
# file_paths=[]
# required_dates_initial=pd.date_range('2024-02-01','2024-03-31')
# required_dates = required_dates_initial.strftime('%Y%m%d').tolist()

# pattern = re.compile(r"event_\d+\.parquet")
# file_paths = []

# for date in required_dates:
#     all_files = glob(f'./Data/{date}/data/raw/raw_match_parquet/*.parquet')
#     matched_files = [f for f in all_files if pattern.search(f)]
#     file_paths.extend(matched_files)

# df =pd.concat([pd.read_parquet(f,columns=['match_id','winner_code']) for f in file_paths ],ignore_index=True)

# merged=df.merge(All_players, how='inner', on='match_id')

# merged.to_csv('./Winners-Q3.csv',index=False)


Winners=pd.read_csv('./Winners-Q3.csv')
display(Winners)
Wins=Winners['winner'].dropna().value_counts().reset_index()

Wins.columns = ['Player', 'Number_of_Wins']
display(Wins)
print(f'{Wins['Player'][0]} has the most wins, with {Wins['Number_of_Wins'][0]} victories.')

,match_id,Full_name_Home,Height_Home,Full_name_Away,Height_Away,winner_code,winner
0,11998445,"Cazaux, Arthur",1.83,"Auger-Aliassime, Felix",1.93,2.0,"Auger-Aliassime, Felix"
1,11998446,"Lestienne, Constant",1.80,Flavio Cobolli,1.83,2.0,Flavio Cobolli
2,11998447,"Ćorić, Borna",1.88,"Martinez, Pedro",1.85,1.0,"Ćorić, Borna"
3,11998448,"Mmoh, Michael",1.88,"Muller, Alexandre",1.83,1.0,"Mmoh, Michael"
4,11998449,"Paire, Benoit",1.96,"Mayot, Harold",1.78,2.0,"Mayot, Harold"
...,...,...,...,...,...,...,...
15665,12213458,"Gorokhov, Mikhail",NaN,"Simonsson, Fred",1.88,2.0,"Simonsson, Fred"
15666,12213459,"Zhu, Michael",1.75,"Lumsden, Ewen",NaN,1.0,"Zhu, Michael"
15667,12213460,"Ojakaar, Oliver",1.91,NaN,NaN,1.0,"Ojakaar, Oliver"
15668,12213482,"Baldovinetti, Guelfo",NaN,NaN,NaN,1.0,"Baldovinetti, Guelfo"
15669,12213484,"Hornitschek, Nico",NaN,NaN,NaN,1.0,"Hornitschek, Nico"

                      Player  Number_of_Wins
0              Popko, Dmitry              32
1               Faria, Jaime              26
2           Chidekh, Clement              26
3              Helgo, Malene              24
4      Jianu, Filip Cristian              23
...                      ...             ...
2417  Schiessl, João Eduardo               1
2418        Chepelev, Andrey               1
2419             Ahn, Yu Jin               1
2420      Braynin, Aleksandr               1
2421            WI, Hwui Won               1

[2422 rows x 2 columns]

Popko, Dmitry has the most wins, with 32 victories.