In [46]:
import pandas as pd
from glob import glob

import os

file_paths=[]
required_dates=['20240201','20240203','20240207']
for date in required_dates:
    path = glob(f'./Data/{date}/data/raw/raw_tennis_power_parquet/*.parquet') 
    file_paths.extend(path)
# file_paths=file_paths[0:7]
df = pd.concat([pd.read_parquet(f,engine='pyarrow') for f in file_paths]).reset_index()
df.sample(5)

       index  match_id  set_num  game_num  value  break_occurred
2990       8  12020072        1         9 -52.02            True
8425      14  12026797        2         5  24.86           False
16272      1  12046492        1         2 -15.20           False
17258     21  12046859        2         9  36.04            True
134        2  11998451        1         3 -26.38           False